In [1]:
import pandas as pd

data=pd.read_csv('equipment_anomaly_data.csv')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  7672 non-null   float64
 1   pressure     7672 non-null   float64
 2   vibration    7672 non-null   float64
 3   humidity     7672 non-null   float64
 4   equipment    7672 non-null   object
 5   location     7672 non-null   object
 6   faulty       7672 non-null   float64
dtypes: float64(5), object(2)
memory usage: 419.7+ KB

In [3]:
data.head()

,temperature,pressure,vibration,humidity,equipment,location,faulty
0,58.180180,25.029278,0.606516,45.694907,Turbine,Atlanta,0.0
1,75.740712,22.954018,2.338095,41.867407,Compressor,Chicago,0.0
2,71.358594,27.276830,1.389198,58.954409,Turbine,San Francisco,0.0
3,71.616985,32.242921,1.770690,40.565138,Pump,Atlanta,0.0
4,66.506832,45.197471,0.345398,43.253795,Pump,New York,0.0

In [4]:
data[data['faulty']>=1]

,temperature,pressure,vibration,humidity,equipment,location,faulty
5,49.510959,76.426729,4.809298,20.269692,Compressor,New York,1.0
7,148.923369,22.214121,0.109819,39.944953,Turbine,San Francisco,1.0
11,141.260310,54.239058,2.725691,86.390466,Pump,Atlanta,1.0
25,117.255657,76.174692,3.255743,82.143058,Pump,New York,1.0
34,135.304401,66.014140,1.070335,62.927459,Turbine,San Francisco,1.0
...,...,...,...,...,...,...,...
7646,97.511253,20.133616,2.178006,14.104007,Pump,Chicago,1.0
7647,85.807050,48.493120,4.903137,49.287131,Turbine,New York,1.0
7651,132.670444,56.635316,2.054762,13.383828,Turbine,Atlanta,1.0
7670,107.086485,23.754114,1.142522,23.967977,Compressor,Atlanta,1.0
7671,28.468054,66.588978,4.677368,79.670225,Turbine,Chicago,1.0

In [5]:
data['temperature'].apply('{:,.2f}'.format)
#data.loc[data['temperature'].notna()]

0        58.18
1        75.74
2        71.36
3        71.62
4        66.51
         ...
7667     65.71
7668     63.01
7669     72.03
7670    107.09
7671     28.47
Name: temperature, Length: 7672, dtype: object

In [6]:
data['pressure'].apply('{:,.2f}'.format)
data.loc[data['pressure'].notna()]

,temperature,pressure,vibration,humidity,equipment,location,faulty
0,58.180180,25.029278,0.606516,45.694907,Turbine,Atlanta,0.0
1,75.740712,22.954018,2.338095,41.867407,Compressor,Chicago,0.0
2,71.358594,27.276830,1.389198,58.954409,Turbine,San Francisco,0.0
3,71.616985,32.242921,1.770690,40.565138,Pump,Atlanta,0.0
4,66.506832,45.197471,0.345398,43.253795,Pump,New York,0.0
...,...,...,...,...,...,...,...
7667,65.711521,37.505934,2.030521,49.331471,Pump,New York,0.0
7668,63.005855,45.164234,1.264585,61.905390,Pump,New York,0.0
7669,72.029230,34.757896,1.709046,49.972917,Pump,Atlanta,0.0
7670,107.086485,23.754114,1.142522,23.967977,Compressor,Atlanta,1.0
7671,28.468054,66.588978,4.677368,79.670225,Turbine,Chicago,1.0

In [7]:
data['vibration'].apply('{:,.2f}'.format)
data['vibration'].isnull().sum()

np.int64(0)

In [8]:
data['humidity'].apply('{:,.2f}'.format)
data['humidity'].notnull().sum()

np.int64(7672)

In [9]:
data.describe()
data

,temperature,pressure,vibration,humidity,equipment,location,faulty
0,58.180180,25.029278,0.606516,45.694907,Turbine,Atlanta,0.0
1,75.740712,22.954018,2.338095,41.867407,Compressor,Chicago,0.0
2,71.358594,27.276830,1.389198,58.954409,Turbine,San Francisco,0.0
3,71.616985,32.242921,1.770690,40.565138,Pump,Atlanta,0.0
4,66.506832,45.197471,0.345398,43.253795,Pump,New York,0.0
...,...,...,...,...,...,...,...
7667,65.711521,37.505934,2.030521,49.331471,Pump,New York,0.0
7668,63.005855,45.164234,1.264585,61.905390,Pump,New York,0.0
7669,72.029230,34.757896,1.709046,49.972917,Pump,Atlanta,0.0
7670,107.086485,23.754114,1.142522,23.967977,Compressor,Atlanta,1.0
7671,28.468054,66.588978,4.677368,79.670225,Turbine,Chicago,1.0

In [10]:
 #data['totla']=data.iloc[:,0:4].sum(axis=0)
#data[['humidity']].sum()

In [11]:
data.dtypes

temperature    float64
pressure       float64
vibration      float64
humidity       float64
equipment       object
location        object
faulty         float64
dtype: object

In [12]:
data.sort_values(by=['location','equipment'],ascending=True,ignore_index=True)

,temperature,pressure,vibration,humidity,equipment,location,faulty
0,63.886148,33.802912,1.139280,41.795515,Compressor,Atlanta,0.0
1,81.663705,21.754885,1.202416,47.006730,Compressor,Atlanta,0.0
2,74.070523,48.903880,0.923370,50.287287,Compressor,Atlanta,0.0
3,65.212414,47.837880,0.845611,45.036369,Compressor,Atlanta,0.0
4,83.183023,39.034921,2.741883,64.236312,Compressor,Atlanta,0.0
...,...,...,...,...,...,...,...
7667,81.126884,49.297920,1.110272,38.053724,Turbine,San Francisco,0.0
7668,72.222899,34.140441,1.491668,62.431920,Turbine,San Francisco,0.0
7669,58.489859,36.542895,0.633116,61.415377,Turbine,San Francisco,0.0
7670,69.906997,27.492263,2.536299,42.274825,Turbine,San Francisco,0.0
7671,56.518230,43.456472,0.844428,56.114135,Turbine,San Francisco,0.0

In [13]:
data['equipment'].value_counts()

equipment
Compressor    2573
Turbine       2565
Pump          2534
Name: count, dtype: int64

In [14]:
data['location'].unique()

array(['Atlanta', 'Chicago', 'San Francisco', 'New York', 'Houston'],
      dtype=object)

In [15]:
data['location'].value_counts()

location
Atlanta          1564
Chicago          1553
Houston          1548
New York         1526
San Francisco    1481
Name: count, dtype: int64

In [16]:
faulty_data=data.faulty
faulty_data

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
7667    0.0
7668    0.0
7669    0.0
7670    1.0
7671    1.0
Name: faulty, Length: 7672, dtype: float64

In [17]:
without_faulty_data=data.drop(['faulty','location','equipment'],axis=1)
without_faulty_data

      temperature   pressure  vibration   humidity
0       58.180180  25.029278   0.606516  45.694907
1       75.740712  22.954018   2.338095  41.867407
2       71.358594  27.276830   1.389198  58.954409
3       71.616985  32.242921   1.770690  40.565138
4       66.506832  45.197471   0.345398  43.253795
...           ...        ...        ...        ...
7667    65.711521  37.505934   2.030521  49.331471
7668    63.005855  45.164234   1.264585  61.905390
7669    72.029230  34.757896   1.709046  49.972917
7670   107.086485  23.754114   1.142522  23.967977
7671    28.468054  66.588978   4.677368  79.670225

[7672 rows x 4 columns]

In [18]:
from sklearn.feature_selection import SelectKBest

In [19]:
from sklearn.feature_selection import f_classif

In [20]:
FEATURES=SelectKBest(score_func=f_classif)

In [21]:
FEATURES.fit(without_faulty_data,faulty_data)

/Users/saqeeahmed/Library/Python/3.9/lib/python/site-packages/sklearn/feature_selection/_univariate_selection.py:783: UserWarning: k=10 is greater than n_features=4. All the features will be returned.
  warnings.warn(

SelectKBest()

In [22]:
FEATURES.scores_

array([2.69671910e+02, 3.27241681e+02, 1.75392169e+03, 1.22792185e+00])

In [23]:
data_col=pd.DataFrame(data=FEATURES.scores_,columns=['score'])
data_col

         score
0   269.671910
1   327.241681
2  1753.921692
3     1.227922

In [24]:
name_col=pd.DataFrame(data=without_faulty_data.columns,columns=['Features'])
name_col

      Features
0  temperature
1     pressure
2    vibration
3     humidity

In [25]:
merge_data=pd.concat([name_col,data_col],axis=1)

In [26]:
merge_data

      Features        score
0  temperature   269.671910
1     pressure   327.241681
2    vibration  1753.921692
3     humidity     1.227922

In [27]:
merge_data.nlargest(3,'score')

      Features        score
2    vibration  1753.921692
1     pressure   327.241681
0  temperature   269.671910